<div class="font-list">
  <div class="font-list__item">
    <div class="font-list__header">
      <div class="font-list__header-left">
        <h3 class="font-list__name"><a href="#">FreeSet Light</a></h3> 
      </div>

      <div class="font-list__header-right">
        <div class="price-block">
          <div class="price-block__old">
            <span class="discount">35% off until May 7</span>   
            <span class="tt_line-through">$39.00</span> 
          </div>
          <div class="price-block__new">$25.35</div>
        </div>
        <a href="" class="link link_wish-list link_wish-list_status_active" title="Liked"><span class="fa fa-heart-o"></span></a>
        <a href="" class="btn">Buy font</a>
      </div>
    </div>

    <div class="font-list__body">
      <div class="font-list__example">
         <a href="#"><img src="img/font-family.gif" height="103" width="1003" alt="FreeSet Light"></a>
      </div>

      <div class="img-list img-list_width_full img-list_item_4">
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img5.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img6.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img7.jpg" alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img8.jpg"  alt="Font"></a>
        </figure>
      </div>
    </div>
  </div>

  <div class="font-list__item">
    <div class="font-list__header">
      <div class="font-list__header-left">
        <h3 class="font-list__name"><a href="#">FreeSet Light</a></h3> 
      </div>

       <div class="font-list__header-right">
        <div class="price-block">
          <div class="price-block__old">
            <span class="discount">35% off until May 7</span>   
            <span class="tt_line-through">$39.00</span> 
          </div>
          <div class="price-block__new">$25.35</div>
        </div>
        <a href="" class="link link_wish-list" title="Like"><span class="fa fa-heart-o"></span></a>
        <a href="" class="btn">Buy font</a>
      </div>
    </div>

    <div class="font-list__body">
      <div class="font-list__example">
         <a href="#"><img src="img/font-family2.gif" height="103" width="1003" alt="FreeSet Light"></a>
      </div>

      <div class="img-list img-list_width_full img-list_item_4">
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img5.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img6.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img7.jpg" alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img8.jpg"  alt="Font"></a>
        </figure>
      </div>
    </div>
  </div>

  <div class="font-list__item">
    <div class="font-list__header">
      <div class="font-list__header-left">
        <h3 class="font-list__name"><a href="#">FreeSet Light</a></h3> 
      </div>

      <div class="font-list__header-right">
        <div class="price-block">
          <div class="price-block__old">
            <span class="discount">35% off until May 7</span>   
            <span class="tt_line-through">$39.00</span> 
          </div>
          <div class="price-block__new">$25.35</div>
        </div>
        <a href="" class="link link_wish-list" title="Like"><span class="fa fa-heart-o"></span></a>
        <a href="#" class="btn">Buy font</a>
      </div>
    </div>

    <div class="font-list__body">
      <div class="font-list__example">
        <a href="#"><img src="img/font-family3.gif" height="103" width="1003" alt="FreeSet Light"></a>
      </div>

      <div class="img-list img-list_width_full img-list_item_4">
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img5.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img6.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img7.jpg" alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img8.jpg"  alt="Font"></a>
        </figure>
      </div>
    </div>
  </div>

  <div class="font-list__item">
    <div class="font-list__header">
      <div class="font-list__header-left">
        <h3 class="font-list__name"><a href="#">FreeSet Light</a></h3> 
      </div>

      <div class="font-list__header-right">
        <div class="price-block">
          <div class="price-block__old">
            <span class="discount">35% off until May 7</span>   
            <span class="tt_line-through">$39.00</span> 
          </div>
          <div class="price-block__new">$25.35</div>
        </div>
        <a href="" class="link link_wish-list" title="Like"><span class="fa fa-heart-o"></span></a>
        <a href="" class="btn">Buy font</a>
      </div>
    </div>

    <div class="font-list__body">
      <div class="font-list__example">
        <a href="#"><img src="img/font-family4.gif" height="103" width="1003" alt="FreeSet Light"></a>
      </div>

      <div class="img-list img-list_width_full img-list_item_4">
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img5.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img6.jpg"  alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img7.jpg" alt="Font"></a>
        </figure>
        <figure class="img-list__item img-list__item_size_4">
          <a class="link link_hover_opacity" href="#"><img src="img/fonts-preview/main-img8.jpg"  alt="Font"></a>
        </figure>
      </div>
    </div>
  </div>
</div> 