<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<link rel="stylesheet" media="all" href="lib/font-awesome/css/font-awesome.min.css" >
<link rel="stylesheet" media="all" href="lib/ion.rangeSlider-2.1.2/css/ion.rangeSlider.css" >
<link rel="stylesheet" media="all" href="lib/ion.rangeSlider-2.1.2/css/ion.rangeSlider.skinNice.css" >
<link rel="stylesheet" media="all" href="lib/color/spectrum.css" >
<link rel="stylesheet" media="all" href="css/style.css" >
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>