 <div id="menu" class="navbar-body">
  <div class="navbar__menu" role="navigation">
    <!-- BEGIN  nav-->
    <nav class="nav" role="navigation" aria-label="All Fonts">
      <h3 class="nav__title">
        <a class="link link__nav-title" href="#">All Fonts:</a>
      </h3>

      <div class="nav__list">
        <ul class="navigation-list">
          <li class="navigation-list__item ">
            <a class="link link_nav link_nav_active" href="#">Bank Gothic™</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">FreeSet</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Baskervill Gothic 725</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Kremlin Pro</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Rodchenko</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Black Grotesk</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">DIN Condensed</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Serp and Molot</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END  nav--> 

    <!-- BEGIN  nav-->
    <nav class="nav" role="navigation" aria-label="Blog">
      <h3 class="nav__title">
        <a class="link link__nav-title">Blog:</a>
      </h3>

      <div class="nav__list">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Russia Design. What is it?</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">New relus of typography.</a>
          </li>
          <li class="navigation-list__item">
            <a class="link link_nav" href="#">Gold Book. Real story about type.</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END  nav-->         
  </div>
  <!-- END  navbar__menu--> 
  
  <!-- BEGIN  navbar__social-->
  <div class="navbar__social">
    <a href="#" class="link_social">
      <span class="fa fa-facebook-square"></span>
    </a>

    <a href="#" class="link_social">
      <span class="fa fa-instagram"></span>
    </a>

    <a href="#" class="link_social">
      <span class="fa fa-google-plus-square"></span>
    </a>

    <a href="#" class="link_social">
      <span class="fa fa-pinterest-square"></span>
    </a>

    <a href="#" class="link_social">
      <span class="fa fa-twitter-square"></span>
    </a>
  </div>
  <!-- END  navbar__social--> 
  
  <!-- BEGIN  navbar__tags--> 
  <div class="navbar__tags">
    <div class="tag">     
      <a href="#" class="tag__font-name">serif</a>    
      <a href="#" class="tag__font-name">sans</a>    
      <a href="#" class="tag__font-name">text</a> 
      <a href="#" class="tag__font-name">display</a>   
      <a href="#" class="tag__font-name">headline</a>
      <a href="#" class="tag__font-name">script</a>    
      <a href="#" class="tag__font-name">magazine</a>   
      <a href="#" class="tag__font-name">elegant</a>  
      <a href="#" class="tag__font-name tag__font-name_active">geometric</a>
      <a href="#" class="tag__font-name">poster</a>   
      <a href="#" class="tag__font-name">modern</a>   
      <a href="#" class="tag__font-name">clean</a>   
      <a href="#" class="tag__font-name">book</a>  
    </div>
  </div>
  <!-- END  navbar__tags--> 
  
  <!-- BEGIN  navbar__switcher--> 
  <div class="navbar__switcher">
    <ul class="lang-switcher">
      <li class="lang-switcher__name"><a class="lang-switcher__btn lang-switcher__btn_active" href="">Eng</a></li>
      <li class="lang-switcher__name"><a class="lang-switcher__btn" href="">Рус</a></li>
    </ul>
  </div>
  <!-- END  navbar__switcher--> 
  
  <!-- BEGIN  navbar__copy-->
  <footer class="navbar__copy" role="contentinfo">
    <p class="copyright">
      &copy; Tagir Safaev 2015 <br>
      Made with love
    </p>
  </footer>
  <!-- END  navbar__copy--> 
</div>