<section class="massonry">
  <div class="massonry__inner">
    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="Серебро набора 2015. Лекционная часть, день первый">
            <img src="img/blog-image/blog-image-1.jpg" alt="Серебро набора 2015. Лекционная часть, день первый">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Серебро набора 2015. Лекционная часть, день первый</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="Начали заниматься слоями!">
            <img src="img/blog-image/blog-image-2.jpg" alt="Начали заниматься слоями!">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Начали заниматься слоями!</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя  </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#"><img src="img/blog-image/blog-image-3.jpg" alt="Серебро набора 2015. Лекционная часть, день первый"></a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">День перед фестивалем «Длинные руки 12» — «Жар-книга»</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя  </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="День перед фестивалем «Длинные руки 12» — «Жар-книга»">
            <img src="img/blog-image/blog-image-4.jpg" alt="День перед фестивалем «Длинные руки 12» — «Жар-книга»">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">День перед фестивалем «Длинные руки 12» — «Жар-книга»</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="Начали заниматься слоями!">
            <img src="img/blog-image/blog-image-5.jpg" alt="Начали заниматься слоями!">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Начали заниматься слоями!</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="Серебро набора 2015. Лекционная часть, день первый">
            <img src="img/blog-image/blog-image-6.jpg" alt="Серебро набора 2015. Лекционная часть, день первый">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Серебро набора 2015. Лекционная часть, день первый</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#">
            <img src="img/blog-image/blog-image-7.jpg" alt="Серебро набора 2015. Лекционная часть, день первый">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Серебро набора 2015. Лекционная часть, день первый</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="Начали заниматься слоями!">
            <img src="img/blog-image/blog-image-8.jpg" alt="Начали заниматься слоями!">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Начали заниматься слоями!</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя  </p>
          </div>
        </div>
      </artical>
    </div>

    <div class="massonry__block">
      <artical class="blog-artical">
        <div class="blog-artical__image">
          <a href="#" title="День перед фестивалем «Длинные руки 12» — «Жар-книга»">
            <img src="img/blog-image/blog-image-9.jpg" alt="День перед фестивалем «Длинные руки 12» — «Жар-книга»">
          </a>
        </div>

        <div class="blog-artical__info">
          <div class="blog-artical__title">
            <h1 class="artical-title"><a class="link link_blog-title" href="#">Серебро набора 2015. Лекционная часть, день первый</a></h1>
          </div>
          
          <div class="blog-artical__detail">
            <span class="create-date"><span class="fa fa-clock-o"></span> 14 March 2016</span>
            <span class="comment-count"><span class="fa fa-comment-o"></span> 84</span>
          </div>

          <div class="blog-artical__text">
            <p>Всё донельзя просто, но последствия непредсказуемо феерические, в хорошем смысле разумеется.)) всё донельзя  </p>
          </div>
        </div>
      </artical>
    </div>
  </div>
  <div id="loading">dfsssssssssssssssss</div>
</section>